.titulo_nombre_01 {
    position: absolute;
    z-index: 20;
}

.div_foto_01 {			
    position: absolute;   
    width: 18%;			
    z-index: 20;
    margin-top: 18%;
    margin-left: 5px;
}

.textoFoto_01 {   
    background-color: cadetblue;
    color: azure;     
    padding-left: 20%;
    font-size: clamp(0.7rem, 1.7vw, 1.4rem);    
}

.fondoBanner {
    background-color: cadetblue;
}

.colorAbout_01 {    
    background-color: rgb(55, 122, 131);
    color: rgb(238, 226, 205);
}

.colorAbout_02 {
    background-color: rgb(33, 73, 41);    
}

.colorAbout_03 {
    background-color: rgb(55, 122, 131);
}

.seccionAbout h4 {
    color: rgb(223, 233, 196);    
}

.seccionAbout h5 {
    color: rgb(171, 231, 213);
}

.seccionAbout p {    
    font-size: 16px;
}

/* Estilos para lista de definición */

.seccionAbout dt {
    color: rgb(121, 192, 180);
    margin-left: 20px;    
}

.seccionAbout dd {
    color: rgb(217, 238, 199);    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 10px;
}

