<div class="container-fluid">

  <div class="row">

    <div class="col-12 fondoBanner">
      <img src={{datosPersona.urlBanner}} class="img-fluid" alt="Imagen del Banner">
    </div>

    <div class="div_foto_01">
      <img src={{datosPersona.urlFoto}} class=" img-fluid rounded-circle border" alt="Foto Mauricio">
    </div>

    <div class="textoFoto_01">
      <dl>
        <dt>{{datosPersona.nombre}} {{datosPersona.apellido}}</dt>
        <dd>{{datosPersona.tituloPrincipal}}</dd>
      </dl>
    </div>  

  </div>
  
</div>

<div class="container-fluid seccionAbout mt-1">

  <div class="row gx-2 colorAbout_02 text-center mt-2 py-1 rounded-3">

    <div class="col-6">
      <h4 class="">Datos Personales</h4>      
    </div>
   
    <div class="col-6">
      <div *ngIf="mostrarDatos01 === false">
        <button (click)="eventoBtnMostrarDatos01()" class="btn btn-outline-light btn-sm">
          Mostrar Datos          
        </button>
      </div>
      <div *ngIf="mostrarDatos01">
        <button (click)="eventoBtnOcultarDatos01()" class="btn btn-outline-light btn-sm">
          Ocultar Datos 
        </button>
      </div>
    </div>      

  </div>

  <div *ngIf="mostrarDatos01" class="mt-1">

    <div class="row gx-2">

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 px-1">

        <dl class="colorAbout_03 rounded-3 mb-1 pb-1 pt-2">
          <div class="row">
            <div class="col-6">
              <dt>Nombre</dt>
              <dd>{{datosPersona.nombre}}</dd>
            </div>
            <div class="col-6">
              <dt>Apellido</dt>
              <dd>{{datosPersona.apellido}}</dd>
            </div>
          </div>
          <dt>Título Principal</dt>
          <dd>{{datosPersona.tituloPrincipal}}</dd>
          <dt>Ocupación actual</dt>
          <dd>{{datosPersona.ocupacion}}</dd>
          <dt>Ciudad actual</dt>
          <dd>{{datosPersona.ciudad.nombre}}</dd>
          <div class="row">
            <div class="col-6">
              <dt>Provincia</dt>
              <dd>{{datosPersona.ciudad.provincia}}</dd>
            </div>
            <div class="col-6">
              <dt>País</dt>
              <dd>{{datosPersona.ciudad.pais}}</dd>
            </div>
          </div>
        </dl>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 px-1">

        <dl class="colorAbout_03 rounded-3 mb-1 pb-1 pt-2">
          <dt>Email</dt>
          <dd>{{datosPersona.email}}</dd>
          <dt>Fecha de Nacimiento</dt>
          <dd>{{datosPersona.fechaNacimiento}}</dd>
          <dt>Acerca de:</dt>
          <dd>{{datosPersona.acercaDe}}</dd>
        </dl>
      </div>
    </div>

    <div *ngIf="esUsuarioAdmin()" class="colorAbout_03 rounded-3 mt-1 py-1">

      <button class="btn btn-outline-light btn-sm mx-2" routerLink="/personaedit/{{datosPersona.id}}">
        Modificar Persona
      </button>

      <button class="btn btn-outline-light btn-sm mx-2" routerLink="/personanueva">
        Agregar Nueva Persona
      </button>
     
      <button type="submit" class="btn btn-outline-light btn-sm mx-3 my-2" (click)="eventoBtnEliminar(datosPersona.id)">
        Eliminar Persona</button>

      <button *ngIf="mostrarMasDatos === false" type="submit" class="btn btn-outline-light btn-sm mx-3 my-2"
        (click)="eventoBtnMostrarMas()">
        Mostrar más Datos</button>

      <button *ngIf="mostrarMasDatos" type="submit" class="btn btn-outline-light btn-sm mx-3 my-2"
        (click)="eventoBtnMostrarMenos()">
        Mostrar menos Datos</button>     

    </div>

  </div>

  <div>
    <div *ngIf="esUsuarioAdmin() && mostrarMasDatos" class="colorAbout_01 rounded-3 mx-1 my-2 py-2">

      <h6 class="text-center mx-3">Datos Personales Secundarios - (Administrador)</h6>

      <div class=" row mx-2 mt-3">

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 rounded-3 mt-2 px-3 py-2">

          <h6 class="">Nombre y Apellido:</h6>
          <p class="px-4">{{datosPersona.nombre}} {{datosPersona.apellido}}</p>

          <h6 class="">Email:</h6>
          <p class="px-4">{{datosPersona.email}}</p>

          <h6 class="">Documento</h6>
          <p class="px-4">{{datosPersona.documento}}</p>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 rounded-3 mt-2 px-3 py-2">

          <h6 class="">Foto: </h6>
          <p class="px-4">{{datosPersona.urlFoto}}</p>

          <h6 class="">Banner:</h6>
          <p class="px-4">{{datosPersona.urlBanner}}</p>

        </div>
      </div>
    </div>

  </div>

</div>