/*
.div_img_banner {
    border: 2px solid red;
}
.estiloBanner {
    width: 100%;
}
*/

.div_header_01 {			
    position: absolute;      	
    z-index: 20;    
    margin-left: 10px;
    margin-top: 10px;
}
.div_header_02 {
    position: absolute;      	
    z-index: 20;    
    background-color: rgba(52, 86, 87, 0.568);
    margin-left: 20%;
    margin-top: 60px;
    padding: 5px;
}
.color_nav_01 {
    background-color: rgb(129, 115, 99);    
}

.footer_main {
    background-color: rgb(52, 86, 87);
    color: rgb(228, 226, 211);
}

/* Estilos Responsivos */ 

@media (max-width: 599px)
{
	.imgBanner01 {
	   width: 100%;	
	   height: 150px;
    }
    .texto_footer {
        font-size: 0.8rem;
    }
   
}

@media (min-width: 600px)
{	
   .imgBanner01 {
	  width: 100%;	
	  height: 190px;
   } 
   .texto_footer {
    font-size: 0.9rem;
}
   
}

@media (min-width: 900px)
{	
   .imgBanner01 {
	  width: 100%;	
	  height: 230px;
   }
   .texto_footer {
    font-size: 1rem;
}
     
}
@media (min-width: 1280px)
{
    .imgBanner01 {
	   width: 100%;	
	   height: 270px;
    }
    .texto_footer {
        font-size: 1.1rem;
    }
   
}
