<div class="container-fluid seccionProyecto">

  <div class="colorProyecto_02 text-center mx-2 py-1 rounded-3">
    <h4>Proyectos</h4>
  </div>

  <div *ngIf="mostrarFormularioDatos === false">
    <div class="row">

      <div *ngFor="let proyecto of datosMyApi.listaProyectos" 
        class="col-sm-12 col-md-12 col-lg-6">

        <div class="colorProyecto_03 rounded-3 mx-1 my-2">
          <dl>
            <dt>{{proyecto.nombre}}</dt>
            <dd>{{proyecto.descripcion}}</dd>
          </dl>

          <div *ngIf="esUsuarioAdmin()" class="">
            <button class="btn btn-outline-primary btn-sm ms-2 mb-2" 
              id="boton_editar" type="submit"
              (click)="accionBotonEditar(proyecto.id, proyecto)"> Editar</button>

            <button class="btn btn-outline-danger btn-sm ms-2 mb-2" 
              id="boton_eliminar" type="submit"
              (click)="accionBotonEliminar(proyecto.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="esUsuarioAdmin()" class="colorProyecto_03 rounded-3 my-1 py-2 ps-3">
      <button type="submit" class="btn btn-outline-success btn-sm" 
        (click)="accionBotonCrearNuevo()">Crear Nuevo Proyeto</button>
    </div>
  </div>

  <div *ngIf="mostrarFormularioDatos" class="colorProyecto_03 rounded-3 my-2 mx-2 py-2">

    <form (ngSubmit)="accionFormularioDatos()">

      <div class="mx-5 ">
        <label for="nombreProyecto" class="form-label">Nombre Proyecto</label>

        <input type="text" class="form-control" name="nombreProyecto" 
          placeholder="{{nombreProyecto}}"
          [(ngModel)]="nombreProyecto" id="nombreProyecto">

      </div>
      <div class="mx-5">
        <label for="descripcionProyecto" class="form-label">Descripción Proyecto</label>

        <textarea type="text" class="form-control" name="descripcionProyecto" 
          rows="4" cols="50" maxlength="200"
          placeholder="{{descripcionProyecto}}" [(ngModel)]="descripcionProyecto" 
          id="descripcionProyecto"> </textarea>

      </div>
      <div class="my-3">
        <button type="submit" class="btn btn-primary mx-5">Enviar Datos</button>
      </div>
    </form>
  </div>

</div>