
.colorProyecto_01 {    
    background-color: rgb(55, 122, 131);
    color: rgb(238, 226, 205);
}

.colorProyecto_02 {
    background-color: rgb(33, 73, 41);    
}

.colorProyecto_03 {
    background-color: rgb(55, 122, 131);
}

.seccionProyecto h4 {
    color: rgb(223, 233, 196);   
    font-size: clamp(1rem, 2.3vw, 1.6rem);  
}

.seccionProyecto h5 {
    color: rgb(171, 231, 213);
}

.seccionProyecto p {    
    font-size: 16px;
}

@media (max-width: 599px)
{	
    .texto_h4 {
        font-size: 0.9rem;
    }    
}

@media (min-width: 600px)
{	 
   .texto_h4 {
    font-size: 1rem;
   }
}
@media (min-width: 900px)
{	 
   .texto_h4 {
    font-size: 1.1rem;
   }
}
@media (min-width: 1280px)
{	
    .texto_h4 {
        font-size: 1.2rem;
    }
}

/* Estilos para lista de definición */

.seccionProyecto dt {
    color: rgb(121, 192, 180);
    font-size: clamp(0.8rem, 1.5vw, 1.6rem);
    margin-left: 20px;
}

.seccionProyecto dd {
    color: rgb(217, 238, 199);    
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 1.6rem);
    margin-left: 40px;
    margin-right: 20px;
}

