<div class="container-fluid border border-info">

  <div class="row">

    <div class="col-sm-12 col-md-12">

      <div class="bg-success text-center">
        <!--
        <h3 class="titulo_nombre_01">
          {{datosPersona.nombre}} {{datosPersona.apellido}}
        </h3>   -->

        <!--
        <div>
          <h1 class="fs-4 px-5">
            {{datosPersona.nombre}}
              <h3> {{datosJson_01.nombre}}  !!!??</h3> 
            {{datosJsonHeader.datosHeader.nombreApp}} 
          </h1>         
        </div>         -->

      </div>

      <div class="mb-sm-3 mb-md-4">

        <div class="div_foto_01 mt-sm-3 mt-md-4 mt-lg-5 pt-sm-3 pt-md-5 pt-lg-5">
          <img src="assets/Imagenes_01/Mauricio_Julio_2022.jpg" class=" img-fluid rounded-circle border"
            alt="Foto Mauricio">
        </div>

        <div class="text-center">
          <img src="assets/Imagenes_01/BannerPruebaWeb_01.png" class="img-fluid" alt="Imagen del Banner">
        </div>

        <div class="mt-md-4 pt-md-4">

        </div>

      </div>

      <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-6 col-xl-4 py-2 border">
          <h5>{{datosPersona.nombre}} {{datosPersona.apellido}}</h5>
          <h6>{{datosPersona.tituloPrincipal}}</h6>
          <!--<h5>{{datosJsonHeader.datosHeader.nombreCompletoAutor}}</h5>
          <h6>{{datosJsonHeader.datosHeader.tituloAutor}}</h6> -->
        </div>
        <div class="col-sm-12 col-md-7 col-lg-6 col-xl-8 py-3 px-4 border">
          <h5>Este div, por ahora es de relleno</h5>
        </div>
      </div>
    </div>

   
    <!-- ############################################### -->

    <div class="col-sm-12 col-md-12 py-2 border border-success">

      <div *ngIf="!mostrarFormularioDatos">

        <h4>Datos Personales</h4>

        <table class="table table-secondary">
          <tbody>
            <tr>
              <td>Nombre</td>
              <td>{{datosPersona.nombre}}</td>
            </tr>
            <tr>
              <td> Apellido:</td>
              <td>{{datosPersona.apellido}}</td>
            </tr>
            <tr>
              <td> Ocupación:</td>
              <td>{{datosPersona.ocupacion}}</td>
            </tr>
            <tr>
              <td> Titulo Principal:</td>
              <td>{{datosPersona.tituloPrincipal}}</td>
            </tr>
            <tr>
              <td> Fecha de Nacimiento:</td>
              <td>{{datosPersona.fecha_nacimiento}}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{datosPersona.email}}</td>
            </tr>
            <tr>
              <td>Documento</td>
              <td>{{datosPersona.documento}}</td>
            </tr>
            <tr>
              <td>Acerca de:</td>
              <td>{{datosPersona.acerca_de}}</td>
            </tr>
            <tr>
              <td>URL foto:</td>
              <td> {{datosPersona.urlFoto}}</td>
            </tr>
            <tr>
              <td>URL Banner:</td>
              <td>{{datosPersona.urlBanner}}</td>
            </tr>
            <tr>
              <td>Ubicación - Ciudad:</td>
              <td>{{datosPersona.ciudad.nombre}}</td>
            </tr>
            <tr>
              <td> Provincia:</td>
              <td> {{datosPersona.ciudad.provincia}}</td>
            </tr>
            <tr>
              <td> Pais:</td>
              <td> {{datosPersona.ciudad.pais}}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div *ngIf="esUsuarioAdmin() && !mostrarFormularioDatos" class="my-3 mx-3">

        <button type="submit" class="mx-2" (click)="accionBotonModificar(datosPersona.id)">
          Modificar Persona</button>

        <button type="submit" class="mx-2" (click)="accionBotonEliminar(datosPersona.id)">
          Eliminar Persona</button>

        <button type="submit" class="mx-2" (click)="accionBotonCrearPersona()">
          Agregar Nueva Persona</button>

      </div>

    </div>

    <div *ngIf="mostrarFormularioDatos" class="py-2 border">

      <form (ngSubmit)="accionFormularioDatos(datosPersona.id, ciudad_id)" 
        novalidate #f="ngForm">

        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre Persona</label>

          <input type="text" class="form-control" name="nombre" placeholder="{{datosPersona.nombre}}"
            [(ngModel)]="nombre" id="nombre">

        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>

          <input type="text" class="form-control" name="apellido" placeholder="{{datosPersona.apellido}}"
            [(ngModel)]="apellido" id="apellido">

        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Ocupación</label>

          <input type="text" class="form-control" name="ocupacion" placeholder="{{datosPersona.ocupacion}}"
            [(ngModel)]="ocupacion" id="ocupacion">

        </div>
        <div class="mb-3">
          <label for="tituloPrincipal" class="form-label">Titulo Principal</label>

          <input type="text" class="form-control" name="tituloPrincipal" placeholder="{{datosPersona.tituloPrinipal}}"
            [(ngModel)]="tituloPrincipal" id="tituloPrincipal">

        </div>
        <div class="mb-3">
          <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>

          <input type="text" class="form-control" name="fecha_nacimiento"
            placeholder="{{datosPersona.fecha_nacimiento}}" [(ngModel)]="fecha_nacimiento" id="fecha_nacimiento">

        </div>
        <div class="mb-3">
          <label for="documento" class="form-label">Documento</label>

          <input type="text" class="form-control" name="documento" placeholder="{{datosPersona.documento}}"
            [(ngModel)]="documento" id="documento">

        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>

          <input type="text" class="form-control" name="email" placeholder="{{datosPersona.email}}" [(ngModel)]="email"
            id="email">

        </div>

        <div class="mb-3">
          <label for="acerca_de" class="form-label">Acerca de</label>

          <textarea type="text" class="form-control" name="acerca_de" rows="4" cols="50" maxlength="200"
            placeholder="{{datosPersona.acerca_de}}" [(ngModel)]="acerca_de" id="acerca_de"> </textarea>

        </div>

        <div class="mb-3">
          <label for="urlFoto" class="form-label">URL Foto</label>

          <input type="text" class="form-control" name="urlFoto" placeholder="{{datosPersona.urlFoto}}"
            [(ngModel)]="urlFoto" id="urlFoto">

        </div>

        <div class="mb-3">
          <label for="urlBanner" class="form-label">URL Banner</label>

          <input type="text" class="form-control" name="urlBanner" 
            placeholder="{{datosPersona.urlBanner}}"
            [(ngModel)]="urlBanner" id="urlBanner">

        </div>


        <div class="mb-3">
          <label for="ciudad_id" class="form-label">Id Ciudad</label>

          <input type="number" class="form-control" name="ciudad_id" placeholder="{{datosPersona.ciudad.id}}"
            [(ngModel)]="ciudad_id" id="ciudad_id">

        </div>


        <button type="submit" class="btn btn-primary"> Enviar Datos Persona</button>

      </form>
    </div>

  </div>

</div>