.titulo_nombre_01 {
    position: absolute;
    z-index: 20;   
}

.div_foto_01 {			
    position: absolute;   
    width: 15%;			
    z-index: 20;
}


.colorAbout_01 {
    background-color:rgb(159, 187, 59) 
}
.colorAbout_02 {
    background-color: rgb(147, 207, 160);
    background-color: rgba(69, 86, 240, 0.185);
}

.colorAbout_03 {
    background-color: rgb(174, 201, 223);
   
}

.colorAbout_04 {
    background-color: rgb(60, 189, 71);   
   
    color: rgb(11, 20, 97); 
}

.seccion_01 h6 {
    color: rgb(45, 75, 131);
}