
.colorTrabajo_02 {
    background-color: rgb(33, 73, 41);    
}

.colorTrabajo_03 {    
    background-color: rgb(55, 122, 131);
}

.colorTrabajo_04 {
    background-color: rgb(60, 189, 71);
    color: rgb(11, 20, 97);
}

.seccion_01 h6 {
    color: rgb(45, 75, 131);
}

.seccionTrabajo h4 {    
    color: rgb(223, 233, 196);
    font-size: clamp(1rem, 2.3vw, 1.6rem);
}

.seccionTrabajo h5 {
    color: rgb(106, 32, 224);    
}

.seccionTrabajo h6 {
    color: rgb(107, 76, 29);
}

.seccionTrabajo p {   
    font-size: 16px;
}

/* Estilos para lista de definición */

.seccionTrabajo dt {
    color: rgb(121, 192, 180);
    font-size: clamp(0.8rem, 1.5vw, 1.6rem);
    margin-left: 20px;
}

.seccionTrabajo dd {
    color: rgb(217, 238, 199);    
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 1.6rem);
    margin-left: 40px;
    margin-right: 20px;
}

