<div class="container-fluid seccionEducacion">

  <div class="colorEducacion_02 text-center my-1 py-1 rounded-3">
    <h4>Formación Académica </h4>
  </div>

  <div *ngIf="mostrarFormularioDatos === false">

    <div class="row">

      <div class=" col col-sm-12 col-md-12 col-lg-6" *ngFor="let educacion of datosMyApi.listaEducacion">

        <div class="colorEducacion_03 rounded-3 mb-1 mt-1 px-3 pt-1">

          <dl>
            <dt>Nombre Institución:</dt>
            <dd>{{educacion.nombreInstitucion}} </dd>

            <dt> Estudio Cursado:</dt>
            <dd>{{educacion.estudioCursado}}</dd>

            <div class="row">
              <div class="col col-sm-12 col-md-6 ">
                <dt>Año de Inicio:</dt>
                <dd>{{educacion.anioInicio}}</dd>
              </div>
              <div class="col col-sm-12 col-md-6">
                <dt>Año Finalización:</dt>
                <dd>{{educacion.anioFin}}</dd>
              </div>
            </div>
            <dt>Descripción Curso:</dt>
            <dd>{{educacion.descripcionCurso}}</dd>
            <dt>Se terminó el curso ?</dt>
            <dd *ngIf="educacion.seTerminoCurso === 0">Curso sin finalizar</dd>
            <dd *ngIf="educacion.seTerminoCurso === 1">Curso Finalizado</dd>
            <dt>Ciudad:</dt>
            <dd>{{educacion.ciudad.nombre}}</dd>
            <div class="row">
              <div class="col col-sm-12 col-md-6 ">
                <dt>Provincia:</dt>
                <dd>{{educacion.ciudad.provincia}}</dd>
              </div>
              <div class="col col-sm-12 col-md-6">
                <dt>País:</dt>
                <dd>{{educacion.ciudad.pais}}</dd>
              </div>
            </div>
          </dl>

          <div *ngIf="esUsuarioAdmin()" class="my-2 pb-2">
            <button class="btn btn-outline-success btn-sm mx-3" id="boton_editar" type="submit"
              (click)="accionBotonEditar(educacion.id, educacion)"> Editar</button>

            <button class="btn btn-outline-danger btn-sm mx-3" id="boton_eliminar" type="submit"
              (click)="accionBotonEliminar(educacion.id)">Eliminar</button>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="esUsuarioAdmin() && !mostrarFormularioDatos" 
      class="colorEducacion_03 rounded-3 mx-2 mt-1 mb-2 px-4 py-2">
      <button type="submit" class="btn btn-outline-primary btn-sm" (click)="accionBotonCrearNuevo()">
        Crear Nueva Educación</button>
    </div>

  </div>

  <div *ngIf="esUsuarioAdmin() && mostrarFormularioDatos" 
    class="colorEducacion_03 rounded-3 mx-1 my-2 px-5 py-2">

    <form (ngSubmit)="accionFormularioDatos()">

      <div class="mb-2">
        <label for="nombreInstitucion" class="form-label">Nombre Institución</label>
        <input type="text" class="form-control" name="nombreInstitucion" placeholder="{{nombreInstitucion}}"
          [(ngModel)]="nombreInstitucion" id="nombreInstitucion">
      </div>

      <div class="mb-2">
        <label for="estudioCursado" class="form-label">Estudio Cursado</label>
        <input type="text" class="form-control" name="estudioCursado" placeholder="{{estudioCursado}}"
          [(ngModel)]="estudioCursado" id="estudioCursado">
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
          <label for="anioInicio" class="form-label">Año de inicio</label>
          <input type="number" class="form-control" name="anioInicio" placeholder="{{anioInicio}}" [(ngModel)]="anioInicio"
            id="anioInicio">
        </div>      
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
          <label for="anioFin" class="form-label">Año de finalización</label>
          <input type="number" class="form-control" name="anioFin" placeholder="{{anioFin}}" [(ngModel)]="anioFin"
            id="anioFin">
        </div>      
      </div>

      <div class="mb-2">
        <label for="descripcionCurso" class="form-label">Descripción Curso</label>
        <textarea type="text" class="form-control" name="descripcionCurso" 
          rows="3" cols="50" maxlength="200"
          placeholder="{{descripcionCurso}}" [(ngModel)]="descripcionCurso" 
          id="descripcion">        
        </textarea>

        <div class="mb-2">
          <label for="seTerminocurso" class="form-label">Se terminó el curso?</label>
          <input type="text" class="form-control" name="seTerminoCurso" placeholder="{{seTerminoCurso}}"
            [(ngModel)]="seTerminoCurso" id="seTerminocurso">
        </div>

        <div>
          <select name="idCiudad" id="idCiudad" size="4" [(ngModel)]="idCiudad">
            <option *ngFor="let ciudad of listaCiudades" value={{ciudad.id}}>
              Nombre ciudad: {{ciudad.nombre}}</option>
            nombre ciudad fuera de option: {{idCiudad}}
          </select>
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Enviar Datos</button>

    </form>
  </div>



</div>