<div class="container-fluid seccionEducacion mt-1">

  <div class="row gx-2 colorEducacion_02 text-center mt-2 py-1 rounded-3">
    <div class="col-sm-8 col-md-8 col-lg-6">
      <h4>Formación Académica </h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-6">
      <div *ngIf="mostrarEducacion01 === false">
        <button (click)="eventoBtnMostrarEducacion()" 
        class="btn btn-outline-light btn-sm">
          Mostrar Educación
        </button>
      </div>
      <div *ngIf="mostrarEducacion01">
        <button (click)="eventoBtnOcultarEducacion()" 
        class="btn btn-outline-light btn-sm">
          Ocultar Educación
        </button>
      </div>
    </div>
  </div> 

  <div *ngIf="mostrarFormularioDatos === false && mostrarEducacion01">

    <div class="row gx-2">

      <div class="col-sm-12 col-md-6 col-lg-6" 
        *ngFor="let educacion of datosMyApi">

        <div class="colorEducacion_03 rounded-3 mt-2 py-1">

          <dl>
            <dt>Nombre Institución:</dt>
            <dd>{{educacion.nombreInstitucion}} </dd>

            <dt> Estudio Cursado:</dt>
            <dd>{{educacion.estudioCursado}}</dd>

            <div class="row">
              <div class="col-6 ">
                <dt>Año de Inicio:</dt>
                <dd>{{educacion.anioInicio}}</dd>
              </div>
              <div class="col-6">
                <dt>Año Finalización:</dt>
                <dd>{{educacion.anioFin}}</dd>
              </div>
            </div>
            <dt>Descripción Curso:</dt>
            <dd>{{educacion.descripcionCurso}}</dd>
            <dt>Se terminó el curso ?</dt>
            <dd *ngIf="educacion.seTerminoCurso === 0">Curso sin finalizar</dd>
            <dd *ngIf="educacion.seTerminoCurso === 1">Curso Finalizado</dd>
            <dt>Ciudad:</dt>
            <dd>{{educacion.ciudad.nombre}}</dd>
            <div class="row">
              <div class="col-6 ">
                <dt>Provincia:</dt>
                <dd>{{educacion.ciudad.provincia}}</dd>
              </div>
              <div class="col-6">
                <dt>País:</dt>
                <dd>{{educacion.ciudad.pais}}</dd>
              </div>
            </div>
          </dl>

          <div *ngIf="esUsuarioAdmin()" class="mt-1 mp-2 pb-2">

            <button class="btn btn-outline-light btn-sm ms-3" 
              id="boton_editar" type="submit"
              (click)="eventoBtnEditar(educacion.id, educacion.ciudad.id, educacion)"> 
              Editar</button>

            <button class="btn btn-outline-light btn-sm ms-3" id="boton_eliminar" type="submit"
              (click)="eventoBtnEliminar(educacion.id)">Eliminar</button>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="esUsuarioAdmin() && !mostrarFormularioDatos" 
      class="colorEducacion_03 rounded-3 mt-2 px-4 py-2">
      <button type="submit" class="btn btn-outline-light btn-sm" 
        (click)="eventoBtnCrear()">
        Crear Nueva Educación</button>
    </div>

  </div>

  <div *ngIf="esUsuarioAdmin() && mostrarFormularioDatos"
    class="colorEducacion_03 text-light rounded-3 mx-1 my-2 px-5 py-2">

    <h4>{{tituloFormulario}}</h4>

    <form novalidate #f="ngForm" class="px-5 rounded-3">
      <!--
    <form (ngSubmit)="accionFormularioDatos()" class="text-light">
      -->
      <div class="mb-2">
        <label for="nombreInstitucion" class="form-label">Nombre Institución</label>
        <input type="text" class="form-control" name="nombreInstitucion" 
        placeholder="{{nombreInstitucion}}"
          [(ngModel)]="nombreInstitucion" id="nombreInstitucion">
      </div>

      <div class="mb-2">
        <label for="estudioCursado" class="form-label">Estudio Cursado</label>
        <input type="text" class="form-control" name="estudioCursado" placeholder="{{estudioCursado}}"
          [(ngModel)]="estudioCursado" id="estudioCursado">
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
          <label for="anioInicio" class="form-label">Año de inicio</label>
          <input type="number" class="form-control" name="anioInicio" placeholder="{{anioInicio}}"
            [(ngModel)]="anioInicio" id="anioInicio">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
          <label for="anioFin" class="form-label">Año de finalización</label>
          <input type="number" class="form-control" name="anioFin" placeholder="{{anioFin}}" [(ngModel)]="anioFin"
            id="anioFin">
        </div>
      </div>

      <div class="mb-2">
        <label for="descripcionCurso" class="form-label">Descripción Curso</label>
        <textarea type="text" class="form-control" name="descripcionCurso" 
        rows="3" cols="50" maxlength="198" placeholder="{{descripcionCurso}}" 
        [(ngModel)]="descripcionCurso" id="descripcion">
        </textarea>

        <div class="my-2">
          <label for="seTerminocurso" class="form-label">
            Se terminó el curso ? - ( 0: Curso sin finalizar - 1: Curso finalizdo)</label>
          <input type="number" class="form-control" name="seTerminoCurso" placeholder="{{seTerminoCurso}}"
            [(ngModel)]="seTerminoCurso" id="seTerminocurso">
        </div>

        <div *ngIf="mostrarFormularioCiudad === false">

          <div *ngIf="laCiudadEsNueva" class="mb-3">
            <label for="ciudad_id" class="form-label">Id Ciudad</label>

            <p>Ciudad Nueva: {{listaCiudades[listaCiudades.length - 1].nombre}}</p>          
            <p>id Ciudad Nueva: {{listaCiudades[listaCiudades.length - 1].id}}</p>
         
          </div>

          <div *ngIf="laCiudadEsNueva === false" class="mb-3">

            <div class="my-3">
              <label for="idCiudad" class="form-label">
                Ciudad id: {{idCiudad}} - Seleccionar ciudad en el control</label>
              <select class="form-select" aria-label="Default select example" 
                size="3" name="idCiudad" id="idCiudad" [(ngModel)]="idCiudad">
                <option *ngFor="let ciudad of listaCiudades" value={{ciudad.id}}>
                  ciudad: {{ciudad.nombre}} -
                  Provincia: {{ciudad.provincia}} -
                  Pais: {{ciudad.pais}}</option>
              </select>              
            </div>

            <div *ngIf="idCiudad === 0" 
              class="text-center bg-secondary border border-danger mx-4 my-2">
              <p class="text-warning ">Debe seleccionar una ciudad</p>
            </div>            

            <div class=" row bg-success border border-primary px-4 py-2">
              <div class="col-8">
                <p>Si la ciudad no está en la lista, presionar el siguiente botón</p>
              </div>
              <div class="col-4">
                <button class="btn btn-outline-light btn-sm sm-3" 
                (click)="eventoBtnNuevaCiudad()">
                Ingresar Nueva Ciudad</button>
              </div>                                
            </div>

          </div>
        </div>
        <br>
        <div *ngIf="mostrarFormularioCiudad" class="py-3">
          <app-ciudades (eventoDesdeCiudad)="eventoDeCiudad($event)"
          [ciudadesExistentes]="listaCiudades"></app-ciudades>
        </div>
      </div>
      
      <button type="submit" class="btn btn-outline-light btn-sm ms-3" 
        (click)="eventoBtnEnviarDatos()"
        [disabled]="mostrarFormularioCiudad">Enviar Datos</button>
    
      <button type="submit" class="btn btn-outline-light btn-sm ms-3" 
        (click)="eventoBtnCancelarEnvio()">Cancelar envío de datos</button>

    </form>
  </div>

</div>