
.colorEducacion_02 {
    background-color: rgb(33, 73, 41);
}

.colorEducacion_03 {
    background-color: rgb(185, 207, 223);

}

.seccion_01 h6 {
    color: rgb(45, 75, 131);
}


.seccionEducacion h4 {
    color: rgb(223, 233, 196);
}

.seccionEducacion h5 {
    color: rgb(106, 32, 224);
}

.seccionEducacion h6 {
    color: rgb(107, 76, 29);
}

.seccionEducacion p {
    color: rgb(11, 63, 34);
    font-size: 20px;
}

.seccionEducacion dt {
    color: rgb(8, 100, 100);
}

.seccionEducacion dd {
    color: rgb(83, 26, 64);    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 35px;
}