.estiloImagen01 {
    width: clamp(10rem, 30vw, 25rem);
}

.estiloImagen02 {
    width: 80%;
}

/* estilos de modificación de estilos con variables */

.colorVariable01 {

    background-color: var(--color_fondo_01, "pink");
    color: var(--color_texto_01, "black");

    /*
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    */
}

/*
p,
h6 { font-size: var(--font_size_01, 1em);}
h5 { font-size: var(--font_size_02, 1.1em);}
h4 { font-size: var(--font_size_03, 1.2em);}
h3 { font-size: var(--font_size_04, 1.3em);}
h2 { font-size: var(--font_size_05, 1.4em);}
h1 { font-size: var(--font_size_06, 1.5em);}
*/
