<div #divPrincipal_01 class="bg-primary border textoClamp01 m-1 p-2">

   

    <div class="colorVariable01 border mx-2 p-2">
        <h3 class="text-center">{{tituloInicio}}</h3>
    </div>

    <div class="colorVariable01 border m-2 p-3">

        <p>Esta página forma parte de un proyecto integrador de un
            curso de programador web. Aqui se muestran algunos de
            los datos personales, incluidos conocimientos y proyectos;
            del usuario administrador de este portfolio.
            Para acceder a estos datos debe tener una cuenta en este
            sitio e iniciar sesión.
        </p>

        <p>Para navegar por esta página se disponen de botones y enlaces,
            identificados por la acción que ejerce cada uno de ellos.
            Si algo no funciona correctamente, tiene alguna duda con
            alguna funcionalidad, o tiene alguna sugerencia, puede
            hacermelo saber por medio del correo que figura
            al final de esta página.
        </p>

        <p>En este sitio se dispone de la posibilidad de personalizar
            los colores con que se muestran los texto, así como los
            colores del fondo. También es posible modificar los tamaños
            de los textos, que si bién los traté de adaptar con diferentes
            anchos de pantalla, con los controles correspondientes se 
            pueden adaptar a su gusto y necesidad.
            Para acceder a las configuraciones de colores y tamaños de
            texto, debe hacer click en el botón : "configurar página".
        </p>

    </div>

    <div class="row m-2">
        <div class="col  text-center">
            <a href="#" class="" routerLink="/nuevo">
                <h4 class="colorVariable01 rounded-3 py-1">
                    Crear Cuenta
                </h4>
            </a>
        </div>

        <div class="col text-center">
            <a href="#" class="" routerLink="/login">
                <h4 class="colorVariable01 rounded-3 py-1">
                    Iniciar Sesión
                </h4>
            </a>
        </div>

        <div class="col text-center">            
            <a role="button"  (click)="btnMostrarSeccionUser()" class="" >
                <h4 class="colorVariable01 rounded-3 py-1">
                    Datos Portfolio</h4>
            </a>
        </div>

    </div>   
    
    <div class="mx-1">
        <app-config-user></app-config-user>
    </div>    

</div>