<div #divPrincipal_01 class="bg-primary border textoClamp01 m-1 p-2">

    <div class="colorVariable01 border mx-2 p-2">
        <h3 class="text-center">{{tituloInicio}}</h3>
    </div>

    <div class="colorVariable01 border m-2 p-3">

        <p>Esta página forma parte de un proyecto integrador de un
            curso de programador web. Aqui se muestran algunos de
            los datos personales, incluidos conocimientos y proyectos;
            del usuario administrador de este portfolio.
            Para acceder a estos datos debe tener una cuenta en este
            sitio e iniciar sesión.
        </p>

        <p>Para navegar por esta página se disponen de botones y enlaces,
            identificados por la acción que ejerce cada uno de ellos.
            Si algo no funciona correctamente, tiene alguna duda con
            alguna funcionalidad, o tiene alguna sugerencia, puede
            hacermelo saber por medio del correo que figura
            al final de esta página.
        </p>

    </div>

    <div class="row m-2">
        <div class="col  text-center">
            <a href="#" class="" routerLink="/nuevo">
                <h3 class="colorVariable01 rounded-3 py-1">
                    Crear Cuenta
                </h3>
            </a>
        </div>

        <div class="col text-center">
            <a href="#" class="" routerLink="/login">
                <h3 class="colorVariable01 rounded-3 py-1">
                    Iniciar Sesión
                </h3>
            </a>
        </div>
    </div>

    <div class="text-center border mx-2 my-2 px-2 py-2">
        <h4 class="my-2 text-light">Con sesión iniciada:</h4>
        <a href="#" class="" routerLink="/secciones">
            <h4 class="colorVariable01 rounded-3 py-1">
                Sección: Datos Portfolio</h4>
        </a>
    </div>
    

</div>