<div class="border border-primary colorArgProg">

    <div class="mx-4 my-3 p-3 border colorLogin_02">
        <h3 class="text-center">Iniciar Sesión</h3>
    </div>

    <div *ngIf="mostrarFormulario; else vistaEsperar" class="mx-4 my-3 p-4 border colorLogin_02">

        <form [formGroup]="form_group" (ngSubmit)="onEnviar($event)">
            <div class="mb-3">
                <label for="nombreUsuario" class="form-label">Nombre Usuario</label>
                <input type="text" class="form-control" formControlName="nombreUsuario" 
                [ngClass]="{'is-invalid': NombreUsuario?.errors && NombreUsuario?.touched, 'is-valid': !NombreUsuario?.errors && NombreUsuario?.touched}"
                  id="nombreUsuario" aria-describedby="emailHelp" autofocus>
                <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">                  
                    <p class="text-danger">El nombre de usuario es requerido</p>                                    
                </div>  
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" 
                [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
                formControlName="password" id="password">   
                <div *ngIf="Password?.errors && Password?.touched">                                            
                    <p *ngIf="Password?.hasError('required')" class="text-danger">
                        La contraseña es requerida</p>  
                    <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                        La contraseña debe ser mayor a 8 caracteres</p>                                         
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="form_group.invalid">
                Enviar</button>
        </form>

    </div>   
    <ng-template #vistaEsperar  class="mx-4 my-3 p-4 border colorLogin_02">
        <div>            
            <div class="row border border-success my-2 mx-2 py-3">
                <div class="col text-center">
                    <div class="spinner-border text-success" role="status">
                    </div>
                </div>
                <div class="col bg-primary text-light">
                    <h5 class="text-center"># # Espere un momento # #</h5>
                    <h5 class="text-center"># # Estamos procesando su solicitud # #</h5>
                </div>
                <div class="col text-center">
                    <div class="spinner-border text-secondary" role="status">
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>