<!-- Los primeros componentes son de la nueva versión (en etapa de pruebas),
    la sección comentada, más abajo pertenecen a la primera versión, 
    actualmente en producción.
-->

<app-docbase></app-docbase>

<!-- Sección Portfolio, comentada mientras se realizan pruebas de la versión 2 -->
<!-- Encabezado Portfolio -->
<!--
<app-header></app-header>
<app-body-pf></app-body-pf>
-->
<!--
    mantener este comentario, ya que no estaba incluido en la versión 
    del portfolio actualmente en producción.
<app-config-user></app-config-user>
-->

<!--
<app-footer></app-footer>
-->

