<header class="container-fluid bg-secondary ">

    <div class="row div_cabecera_01">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
                <img src="assets/Imagenes_01\ArgProg_yoProg_03.png" class="img-fluid" alt="yoProgramo">
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <nav class="estiloNav01 text-info mt-2 mb-1">
                <span *ngIf="rutaActual != '/inicio'; else enlaceInicioNull" class="mx-2 p-1">
                    <a class="link-light" routerLink="/inicio" (click)="clkEnlaceInicio()">Inicio</a>
                </span>
                <ng-template #enlaceInicioNull>Inicio</ng-template>
                <span *ngIf="rutaActual != '/nuevo'; else enlaceNuevoNull" class="mx-2 p-1">
                    <a class="link-light" routerLink="/nuevo" (click)="clkEnlaceNuevo()">Crear Cuenta</a>
                </span>
                <ng-template #enlaceNuevoNull>Nuevo Usuario</ng-template>
                <span *ngIf="rutaActual != '/login'; else enlaceLoginNull" class="mx-2 p-1"> 
                    <a class="link-light" routerLink="/login" (click)="clkEnlaceLogin()">iniciar sesión</a>
                </span>
                <ng-template #enlaceLoginNull>Iniciar Sesión</ng-template>
                <span *ngIf="rutaActual != '/inicio'; else enlaceCerrarNull" class="mx-2 p-1">
                    <a class="link-light " routerLink="/inicio" (click)="clkEnlaceCerrar()">
                    Cerrar Sesión</a> </span>
                <ng-template #enlaceCerrarNull>Cerrar Sesión</ng-template>                                     
            </nav>            
        </div>     
    </div>        
</header>