<header class="container-fluid bg-secondary ">

    <div class="row div_cabecera_01">

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <a href="https://argentinaprograma.inti.gob.ar/">
                <img src="assets/Imagenes_01\ArgProg_yoProg_03.png" 
                  class="img-fluid" alt="yoProgramo">
            </a>
        </div>
       
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            
            <nav class="navbar mt-1">                
                <button class="btn btn-outline-light btn-sm" id="boton_login" type="submit" 
                    (click)="loginPortfolio()" [disabled]="btnLoginDesactivado">
                    Iniciar Sesión</button>
                <button class="btn btn-outline-light btn-sm" id="btn_nuevo" type="submit"
                    (click)="nuevoUsuario()"> 
                    Nuevo Usuario</button>
                <button class="btn btn-outline-light btn-sm" id="btn_cerrar" type="submit" 
                    (click)="cerrarSesion()" [disabled]="btnCerrarDesactivado">
                    Cerrar Sesión</button>
            </nav>
        </div>       

    </div>

</header>