<header class="container-fluid bg-secondary ">

    <div class="row div_cabecera_01">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
                <img src="assets/Imagenes_01\ArgProg_yoProg_03.png" class="img-fluid" alt="yoProgramo">
            </a>
        </div>
      
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <nav class="estiloNav01 text-info mt-2 mb-1">

                <span class="mx-2">
                    <a *ngIf="rutaNavegadorActual != '/inicio'; else inicioActivo" class="link-light"
                        routerLink="/inicio">Inicio</a>
                    <ng-template #inicioActivo>Inicio</ng-template>
                </span>
                <span class="mx-2">
                    <a class="link-light" routerLink="/nuevo">Crear Cuenta</a>
                </span>
                <span class="mx-2">
                    <a class="link-light" routerLink="/login"
                        *ngIf="sessionIniciadaOk == false; else sessionActiva">Iniciar Sesión</a>
                    <ng-template #sessionActiva>Sesión Activa</ng-template>
                </span>
                <span class="mx-2">
                    <a class="link-light" role="button" (click)="cerrarSession()"
                        *ngIf="sessionIniciadaOk; else sessionCerrada">Cerrar Sesión</a>
                    <ng-template #sessionCerrada>Sesión Cerrada</ng-template>
                </span>
              
            </nav>

        </div>
       
    </div>

</header>