/* You can add global styles to this file, and also import other style files */
.body_index {
    padding: 1px;
    background-color: rgb(198, 245, 245);
}

.colorArgProg {
    background-color: #00358e;
}

.colorSecciones_01 {
    background-color:rgb(159, 187, 59) 
}
.colorSecciones_02 {
    background-color: rgb(147, 207, 160);
    background-color: rgba(69, 86, 240, 0.185);
}

.colorSecciones_03 {
    background-color: rgb(170, 177, 219);
   
}

.colorSecciones_04 {
    background-color: rgb(60, 189, 71);   
   
    color: rgb(11, 20, 97); 
}

.seccion_01 h6 {
    color: rgb(45, 75, 131);
}