/* You can add global styles to this file, and also import other style files */

/* Variables para estilos */

:root {
    --color_component_01: rgb(180, 214, 228);
    --color_fondo_01: #FFFFFF;
    --color_texto_01: #000000;
    
    --font_size_01: 1.1em;    
    --font_size_02: 1.3em;
    --font_size_03: 1.5em;
    --font_size_04: 1.7em;
    --font_size_05: 1.9em;
    --font_size_06: 2.1em;

}     

.body_index {
    padding: 1px;
    background-color: rgb(198, 245, 245);
}

.colorArgProg {
    background-color: #00358e;
}

.colorSecciones_01 {
    background-color:rgb(159, 187, 59) 
}   

/*
.textoClamp01 p {
    font-size: clamp(0.8rem, 1.8vw, 1.6rem);
}
.textoClamp01 h3 {
    font-size: clamp(1.1rem, 2.4vw, 2.5rem);
}
.textoClamp01 dt {
    font-size: clamp(0.8rem, 1.7vw, 1.4rem);
}
.textoClamp01 dd {
    font-size: clamp(0.8rem, 1.7vw, 1.4rem);
}
*/

/* Tamaño del texot según la configuración de la página, 
   por parte del usuario */

p, dt, dd, h6 {
    font-size: var(--font_size_01, 1em) !important;
}  

h5 {
    font-size: var(--font_size_02, 1.1em) !important;
}

h4 {   
    font-size: var(--font_size_03, 1.2em) !important;     
}

h3 {
    font-size: var(--font_size_04, 1.3em) !important;
}
h2 {
    font-size: var(--font_size_05, 1.4em) !important;
}

h1 {
    font-size: var(--font_size_06, 1.5em) !important;
}
