.section_inicio {
    background-color: rgb(147, 205, 223);
}

.parrafo_inicio {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.colorArticleVar {
    background-color: var(--color_fondo_01, "rgb(255,255,255)");
    color: var(--color_texto_01, "rgb(0,0,0)");
}

/* Estilos Responsivos 
@media (max-width: 599px)
{	
}
@media (min-width: 600px)
{   
}
@media (min-width: 900px)
{      
}
@media (min-width: 1280px)
{        
}
*/ 
