
<section class="section_inicio px-2 py-2">

    <h2 class="ms-3">Inicio</h2>

    <article class="colorArticleVar px-2 py-2 rounded-3">

        <h3 class="ms-3">Acerca de este sitio</h3>

        <p class="parrafo_inicio">
            Este sitio es una modificación de un proyecto integrador, creado hace 
            algún tiempo, que fuí modificando para darle algunas funcionalidades 
            y contenido para que sea más atractivo.
            En el momento en que estén en este sitio, probablemente no encuentren muchas 
            cosas nuevas; ya que en un principio estoy más ocupado en la funcionalidad 
            del sitio que en el contenido. Sigan visitandonos, que de a poco van a 
            encontrar cosas nuevas. 
        </p>
        <p class="parrafo_inicio">
            Para algunas secciones del sitio hay que autenticarse (hacer login), con una 
            cuenta creada en este sitio. Si no tienen cuenta de este sitio hacer click 
            en crear cuenta; y para ingresar, si ya tienen cuenta hacer click en 
            iniciar sessión.
        </p>
        <p class="parrafo_inicio">
            Para los colores de algunas secciones y para los tamaños de algunos textos, 
            hay un botón que los lleva a el control de configuración de la página. 
            En esa sección pueden modificar algunos valores a su gusto, y luego guardar 
            los cambios para que se mantengan mientras tengan la sesión del navegador 
            abierta.
        </p>

    </article>
</section>
