<div class="mx-1 px-1">

    <div class="container-fluid colorConfigVar01 rounded-3 my-2 px-2 py-1" (window:resize)="establecerFontSize()">
        <!-- evento al cambiar tamaño de la ventana (window:resize)="eventoCambioAncho()"  -->

        <!--
        <div class="mx-1 my-1 px-1 py-1">
            <button type="button" class="btn btn-primary btn-sm" (click)="clkBtnPersonalizarPagina()"
                [disabled]="botonConfigDeshabilitado">
                Configurar página
            </button>
        </div>
         -->

        <div class="row gx-0">
            <div class="col-4 col-sm-6 col-md-8 bg-secondary">

            </div>
            <div class="col-8 col-sm-6 col-md-4 ps-2">
                <a *ngIf="botonConfigActivo; else btnConfigDesactivado" role="button"
                    (click)="clkBtnPersonalizarPagina()" class="">
                    <h5 class="text-center" title="Presionar para personalizar colores y tamaños de texto">
                        Configurar página</h5>
                </a>
                <ng-template #btnConfigDesactivado>
                    <h5 class="bg-info text-primary text-center"
                        title="guardar cambios o salir para habilitar el botón">Configurar página</h5>
                </ng-template>
            </div>
        </div>

        <div *ngIf="mostrarConfiguracion" class="">

            <div class="row gx-3 mx-2 my-2 border">

                <div class="col-sm-12 col-md-12 col-lg-12 text-center my-1">
                    <h5>Configuración de Colores de la página</h5>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-2 px-1 py-1">

                    <h6 class="mx-2">{{textoColorOscuro}}</h6>
                    
                    <div class="border border-danger bg-secondary mx-2 px-2 py-1">

                        <span (click)="seleccionColorSpanOscuro('rgb(0,0,0)')" style="color:rgb(0,0,0);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(53, 46, 46)')"
                            style="color:rgb(53, 46, 46);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(39, 70, 13)')"
                            style="color:rgb(39, 78, 13);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(96, 153, 63)')"
                            style="color:rgb(96, 153, 63);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(34, 64, 197)')"
                            style="color:rgb(34, 64, 197);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(34, 44, 87)')"
                            style="color:rgb(34, 44, 87);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(78, 36, 90)')"
                            style="color:rgb(78, 36, 90);cursor:pointer;" class="ms-2">██</span>
                        <br>
                        <span (click)="seleccionColorSpanOscuro('rgb(200, 80, 255)')"
                            style="color:rgb(200, 80, 255);cursor:pointer;" class="ms-2">██</span>

                        <span (click)="seleccionColorSpanOscuro('rgb(21, 181, 202)')"
                            style="color:rgb(21, 181, 202);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(92, 28, 73)')"
                            style="color:rgb(92, 28, 73);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(58, 17, 17)')"
                            style="color:rgb(58, 17, 17);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(180, 70, 70)')"
                            style="color:rgb(180, 70, 70);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(134, 136, 15)')"
                            style="color:rgb(134, 136, 15);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(233, 211, 17)')"
                            style="color:rgb(233, 211, 17);cursor:pointer;" class="ms-2">██</span>
                        <br>
                        <span (click)="seleccionColorSpanOscuro('rgb(255,0,0)')" style="color:rgb(255,0,0);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(192, 207, 57)')"
                            style="color:rgb(192, 207, 57);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(139,0,0)')" style="color:rgb(139,0,0);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(143, 126, 82)')"
                            style="color:rgb(143, 126, 82);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(255,69,0)')" style="color:rgb(255,69,0);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(173, 133, 60)')"
                            style="color:rgb(173, 133, 60);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanOscuro('rgb(29, 90, 94)')"
                            style="color:rgb(29, 90, 94);cursor:pointer;" class="ms-2">██</span>

                    </div>
                   
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-2 px-1 py-1">

                    <h6 class="mx-2" >{{textoColorClaro}}</h6>

                    <div class="border border-danger bg-secondary mx-2 px-2 py-1">

                        <span (click)="seleccionColorSpanClaro('rgb(255, 255, 255)')" 
                            style="color:rgb(255, 255, 255);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(211, 210, 200)')"
                            style="color:rgb(221, 210, 200);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(177, 221, 140)')"
                            style="color:rgb(177, 221, 148);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(172, 104, 165)')"
                            style="color:rgb(172, 184, 165);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(139, 153, 214)')"
                            style="color:rgb(139, 153, 214);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(129, 135, 160)')"
                            style="color:rgb(129, 135, 160);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(194, 164, 202)')"
                            style="color:rgb(194, 164, 202);cursor:pointer;" class="ms-2">██</span>
                        <br>
                        <span (click)="seleccionColorSpanClaro('rgb(205, 157, 220)')"
                            style="color:rgb(205, 157, 228);cursor:pointer;" class="ms-2">██</span>

                        <span (click)="seleccionColorSpanClaro('rgb(139, 210, 219)')"
                            style="color:rgb(139, 210, 219);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(192, 131, 174)')"
                            style="color:rgb(192, 131, 174);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(155, 126, 126)')"
                            style="color:rgb(155, 126, 126);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(219, 175, 175)')"
                            style="color:rgb(219, 175, 175);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(208, 209, 144)')"
                            style="color:rgb(208, 209, 144);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(233, 224, 149)')"
                            style="color:rgb(233, 224, 149);cursor:pointer;" class="ms-2">██</span>
                        <br>
                        <span (click)="seleccionColorSpanClaro('rgb(245, 160, 160)')" 
                            style="color:rgb(245, 160, 160);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(181, 182,176)')"
                            style="color:rgb(181, 182, 176);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(189, 119, 119)')" style="color:rgb(189, 119, 119);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(210, 192, 120)')"
                            style="color:rgb(218, 192, 128);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(216, 146, 120)')" 
                            style="color:rgb(216, 146, 120);cursor:pointer;"
                            class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(226, 187, 115)')"
                            style="color:rgb(226, 187, 115);cursor:pointer;" class="ms-2">██</span>
                        <span (click)="seleccionColorSpanClaro('rgb(126, 202, 207)')"
                            style="color:rgb(126, 202, 207);cursor:pointer;" class="ms-2">██</span>

                    </div>
                  
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 mt-2 ps-3 py-1">

                    <input type="radio" id="fondo_oscuro" name="colores_pagina_02" value="fondo_oscuro"
                        (change)="obtenerValorInputRadio('fondo_oscuro')" [checked]="checkedInputOscuro">
                    <label class="ms-2" for="fondo_oscuro">Fondo Oscuro</label><br>
                    <input type="radio" id="fondo_claro" name="colores_pagina_02" value="fondo_claro"
                        (change)="obtenerValorInputRadio('fondo_claro')" [checked]="checkedInputClaro">
                    <label class="ms-2" for="fondo_claro">Fondo Claro</label><br>

                </div>

            </div>

            <div class="border mx-2 px-2 py-2">

                <h5 class="text-center">Configuración Tamaño del texto</h5>

                <label class="mx-2" for="sizeTexto">Tamaño del texto </label>

                <select name="sizeTexto" id="sizeTexto" (change)="establecerFontSize()" [(ngModel)]="fontSizeSelect">
                    <option value="70">Tamaño texto : 70%</option>
                    <option value="80">Tamaño texto : 80%</option>
                    <option value="90">Tamaño texto : 90%</option>
                    <option value="100">Tamaño texto : 100%</option>
                    <option value="110">Tamaño texto : 110%</option>
                    <option value="120">Tamaño texto : 120%</option>
                    <option value="130">Tamaño texto : 130%</option>
                    <option value="140">Tamaño texto : 140%</option>
                </select>

            </div>

            <div class="mx-2 my-2 px-2 py-1 border">

                <button type="button" class="btn btn-info btn-sm mx-2 my-1" title="Guardar cambios de la configuración"
                    (click)="guardarConfigPagina()">
                    Guardar cambios
                </button>

                <button type="button" class="btn btn-info btn-sm mx-2 my-1"
                    title="Volver a configuración predeterminada" (click)="volverAConfiguracionPredeterminada()">
                    Volver a valores predeterminados
                </button>

                <button type="button" class="btn btn-info btn-sm mx-2 my-1"
                    title="Salir de configuración sin guardar cambios" (click)="clkBtnSalirDeConfiguracion()">
                    Salir sin guardar cambios
                </button>

            </div>

        </div>

    </div>
</div>