
.colorConfigVar01 {
    background-color: var(--color_fondo_01, "rgb(255,255,255)");
    color: var(--color_texto_01, "rgb(0,0,0)");
}

p, h6 {
    font-size: var(--font_size_01, 1em);
}  

h5 {
    font-size: var(--font_size_02, 1.1em);
}

h4 {
    font-size: var(--font_size_03, 1.2em);
}
h3 {
    font-size: var(--font_size_04, 1.3em);
}
h2 {
    font-size: var(--font_size_05, 1.4em);
}

h1 {
    font-size: var(--font_size_06, 1.5em);
}


.parrafoPrueba {
    background-color:aquamarine;
}